<div class="filter">
  <div class="row">
    <div class="col-md-5">
      <select class="form-select" id="brandselect" [(ngModel)]="currentBrandName">
        <option [ngValue]="undefined" disabled selected>
          --- Choose a Brand ---
        </option>
        <option
          *ngFor="let brand of brands"
          [value]="brand.brandName"
          [selected]="setCurrentBrand(brand.brandName)"
        >
          {{ brand.brandName }}
        </option>
      </select>
    </div>
    <div class="col-md-5">
      <select class="form-select" id="colorselect" [(ngModel)]="currentColorName">
        <option [ngValue]="undefined" disabled selected>
          --- Choose a Color ---
        </option>
        <option
          *ngFor="let color of colors"
          [value]="color.colorName"
          [selected]="setCurrentColor(color.colorName)"
        >
          {{ color.colorName }}
        </option>
      </select>
    </div>
    <div class="col-md-1">
      <button
        class="btn btn-danger"
        routerLink="/cars/filter/{{ currentBrandName }}/{{ currentColorName }}"
      >
        Filter
      </button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-warning" routerLink="/cars">Clear</button>
      </div>
  </div>
</div>