<!-- <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">BrandName</th>
            <th scope="col">ModelName</th>
            <th scope="col">ColorName</th>
            <th scope="col">DailyPrice</th>
            <th scope="col">ModelYear</th>
            <th scope="col">Description</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.brandName}}</td>
            <td>{{car.modelName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.description}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <div class="row">
  <div
    class="col-lg-4 col-md-6 shadow-lg p-3 mb-5 bg-body rounded mr-5"
    *ngFor="let car of cars"
  >
    <div class="card border-0 mb-3" style="width: 14rem">
      <img src="car-image" src="" />
      <img
        class="car-image"
        src=""
        class="card-img-top"
        alt="Image"
        width="200"
        height="200"
      />
      <div class="card-body text-center">
        <h4>
          <a class="card-title text-decoration-none h5" style="color: #007bff"
            >{{ car.brandName }}
          </a>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-start">Marka</span>
          <span class="float-end">{{ car.brandName }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Renk</span>
          <span class="float-end">{{ car.colorName }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Model</span>
          <span class="float-end">{{ car.modelYear }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Açıklama</span>
          <span class="float-end">{{ car.description }}</span>
        </li>
        <p class="card-text text-center h3 mt-3">{{ car.dailyPrice }}₺</p>
      </ul>
      <div class="card-body">
        <div class="d-flex action justify-content-between">
          <a href="" class="btn btn-success">Kirala</a>
          <a class="btn btn-primary">Detaylar</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div
    class="col-lg-4 col-md-6 shadow-lg p-3 mb-5 rounded"
    *ngFor="let car of cars"
  >
    <div class="card border-0 mb-3" style="width: 18rem">
      <img
        class="car-image"
        routerLink="/cars/car-detail/{{ car.carId }}"
        src="{{ imgUrl }}{{ car.carImage }}"
        class="card-img-top"
        alt="Image"
        role="button"
        width="200"
        height="200"
      />
      <div class="card-body text-center">
        <h4>
          <a
            routerLink="/cars/car-detail/{{ car.carId }}"
            class="card-title text-decoration-none h5"
            style="color: #007bff"
            >{{ car.brandName }}
          </a>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-start">Model</span>
          <span class="float-end">{{ car.modelName }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Renk</span>
          <span class="float-end">{{ car.colorName }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Model</span>
          <span class="float-end">{{ car.modelYear }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Açıklama</span>
          <span class="float-end">{{ car.description }}</span>
        </li>
        <p class="card-text text-center h3 mt-3">{{ car.dailyPrice }}₺</p>
      </ul>
      <div class="card-body">
        <div class="d-flex action justify-content-between">
          <a href="" class="btn btn-success">Kirala</a>
          <a class="btn btn-primary">Detaylar</a>
        </div>
      </div>
    </div>
  </div>
</div>
