<div class="table-responsive table-bordered">
  <table class="table align-middle table-striped text-center">
    <thead class="bg-primary text-white">
      <tr>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Renk</th>
        <th scope="col">Model Yılı</th>        
        <th scope="col">Araç Özellikleri</th>   
        <th scope="col">Günlük Ücreti</th>   
        <th scope="col">Operasyonlar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.brandName }}</td>
        <td>{{ car.modelName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.description }}</td>
        <td>{{ car.dailyPrice}} ₺</td>   
        <td>
          <button class="btn btn-warning me-2" type="button">Düzenle</button>
          <button class="btn btn-danger " type="button" (click)="deleteCar(car)" >Sil</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <button class="btn btn-primary" routerLink="/cars/add" type="button">Araç Ekle</button>
  
</div>
    

